In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_excel('meal.xlsx')
df.head()

,User_id,User_name,Order_id,order_list1,order_list2,order_list3,order_list4,order_list5
0,1,Anderson,AA1122,Taco Surprise,Spicy Chicken Nuggest,Taco Surprise,Spicy Chicken Nuggest,Pretzels and Cheese Plate
1,2,Ashwoon,AA2233,Chicken Chow Mein,Nachos,Burrito,Taco Surprise,Chicken Chow Mein
2,3,Aikin,AA3344,Hamburger,Chicken Curry,Taco Surprise,Roasted Eggplant,Spicy Pork Sliders
3,4,Bateman,AA4455,Pretzels and Cheese Plate,Taco Surprise,Taco Surprise,Chicken Chow Mein,Spicy Chicken Nuggest
4,5,Bongard,AA5566,Taco Surprise,Ceaser Salad,Roasted Eggplant,Mandarin Chicken PLate,Roasted Eggplant

In [10]:
len(pd.unique(df['order_list5']))
#hundred different orders in 5th list

100

In [11]:
len(pd.unique(df['order_list4']))

92

In [12]:
len(pd.unique(df['order_list3']))

96

In [13]:
len(pd.unique(df['order_list2']))

97

In [14]:
len(pd.unique(df['order_list1']))

100